<!-- Welcome screen that scrolls out of view -->
{{ if not .Params.header_use_video }}
  {{ with $img := resources.Get .Params.header_image }}
  {{ $image_options := site.Params.image_options | default "webp q90 lanczos photo" -}}
  <style>
  /* Default cover for larger screens, converted to webp */
  {{- $defaultWidth := $img.Width -}}
  {{- if gt $defaultWidth 2000 -}}{{- $defaultWidth = 2000 -}}{{- end -}}
  {{- with $img.Resize ( printf "%dx %s" $defaultWidth $image_options ) -}}
  #site-head.withCenteredImage {
    background-image: url('{{- .RelPermalink -}}');
  }
  {{- end -}}

  /*
  Lower resolutions, uncropped. Aimed at desktop users.
  We set __both__ max-width and max-height to make sure the image is never upscaled.
  */
  {{ range $width := slice 1920 1600 1366 }}
    {{- if lt $width $img.Width -}}
    {{- with $img.Resize ( printf "%dx %s" $width $image_options ) }}
    @media (max-width: {{- .Width -}}px) and (max-height: {{- .Height -}}px) {
      #site-head.withCenteredImage { background-image: url('{{- .RelPermalink -}}'); }
    }
    {{- end }}
    {{- end }}
  {{- end }}

  /*
  Lower resolutions, cropped to portrait. Useful for mobile. For "tall" displays (screen ratio < image ratio)
  the "cover" algorithm first resizes the image to match the screen height, then __crops__ it to match the width.
  We mimic this by resizing to height=1024, and then cropping to various widths. We set "max-height" to
  ensure the height is never upscaled, but also max-aspect-ratio to ensure that each image is used in "tall-enough"
  displays, in which our cropping would happen anyways!
  */
  {{- $targetHeight := 1024 -}}
  {{- if lt $img.Height $targetHeight -}}{{- $targetHeight = $img.Height -}}{{- end -}}
  {{- $img_temp := $img.Resize (printf "x%d q100" $targetHeight) -}}/* high quality temporary image, to be cropped later */
  {{ range $width := slice 900 600 360 }}
    {{- $cropWidth := $width -}}
    {{- if lt $img_temp.Width $cropWidth -}}{{- $cropWidth = $img_temp.Width -}}{{- end -}}
    {{- with $img_temp.Crop ( printf "%dx%d center %s" $cropWidth $targetHeight $image_options ) }}
    @media (max-height: {{- .Height -}}px) and (max-aspect-ratio: {{ .Width }} / {{ .Height }}) {
      #site-head.withCenteredImage { background-image: url('{{- .RelPermalink -}}'); }
    }
    {{- end }}
  {{- end }}
  </style>
  {{ end }}
{{ end }}
