{{- /* Render. */}}
<div class="role-row">
    <span class="show">{{.Params.show}}</span>
    <span class="role">{{.Params.role}}</span>
    <span class="org">{{.Params.org}}</span>
    {{/*
    {{with .Params.location}}<span class="location">Performed at {{.}}</span>{{end}}
    {{with .Params.director}}<span class="director">Director: {{.}}</span>{{end}}
    {{with .Params.musicdir}}<span class="musicdir">Music Dir.: {{.}}</span>{{end}}
    {{with .Params.choreo}}<span class="choreo">Choreographer: {{.}}</span>{{end}}
    */}}
</div>
